In [1]:
9044

9044

In [1]:
"pranshi"

'pranshi'

In [2]:
print("pranshi")

pranshi

In [3]:
print(1,2,3)

1 2 3

In [4]:
print("bramhmastra",2022)

bramhmastra 2022

In [6]:
print("this is a line")
print('another line')
print('and the final text line')

this is a line
another line
and the final text line

In [8]:
a=10
b=20
c=50
print(a,b,c)
print(a)

10 20 50
10

In [9]:
city='lucknow'
state='uttar pradesh'
name='pranshi'

In [10]:
name='adam'

In [11]:
name2='pranshi'

In [12]:
food=input()

In [13]:
print('food')

food

In [14]:
a='apple'
type(a)

str

In [15]:
a=101
type(a)

int

In [21]:
a='300+'
print(a,type(a))

300+ <class 'str'>

In [17]:
b=int(a)

In [18]:
print(b,type(b))

300 <class 'int'>

In [19]:
a=int(a)

In [23]:
a=input('enter A=')
b=input('enter B=')
print(type(a),type(b))

<class 'str'> <class 'str'>

In [24]:
a=int(a)
b=int(b)

In [25]:
print(a+b)

7

In [28]:
num1=int(input('enter num1'))
num2=int(input('enter num2'))
answer=num1+num2
print(answer)

10