In [1]:
#Defining list in python-

# list of strings
list1= ['Nikhlesh', 'Aman', ' Rahul','Devansh', 'Rishabh']

In [6]:
#lists of numbers
list2= [1,2,3,4,5,15,25,100]

In [4]:
#mixed data list
list3= ['Ravi',90, 120, 93, 29, 44, 'B', False , 5.786]

In [5]:
#nested list
list4 = [[1,2,3],[3,4,5,7],[2,1]]

In [7]:
x = [] #empty list

In [9]:
y = [1,2,3]*10 #duplicated list
print (y)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [10]:
z = [1,2,3] + [3,2,3] #concatenated list
print(z)

[1, 2, 3, 3, 2, 3]

In [11]:
a = [1,2,3,4,5,6,7,8,9,100]

In [13]:
b = list(range(1,101))
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [14]:
c = list(range(2,51,2))
print(c)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

## List has 11 methods
- addition
  - append
  - insert
  - extend
- deletion
  - remove
  - pop
  - clear
- utility
  - count
  - index
  - copy
  - sort
  - reverse

In [15]:
movies = []

In [22]:
movies.append('Black Panther') #add an item in the list

In [17]:
print(movies)

['Black Panther']

In [19]:
fav_movies = input('enter ur fav movie: ')
movies.append(fav_movies)
print(movies)

['Black Panther', 'Harry Potter']

In [20]:
for i in range(5):
    movies.append(input('enter another movie: '))
print(movies)

['Black Panther', 'Harry Potter', 'DDLJ', 'HARRY MET SEJAL', 'THE WITCHER', 'GHOST STORIES', 'EMILY IN PARIS']

In [21]:
for movie in movies:
    print(f"-> {movie.upper()}")

-> BLACK PANTHER
-> HARRY POTTER
-> DDLJ
-> HARRY MET SEJAL
-> THE WITCHER
-> GHOST STORIES
-> EMILY IN PARIS

In [23]:
movies

['Black Panther',
 'Harry Potter',
 'DDLJ',
 'HARRY MET SEJAL',
 'THE WITCHER',
 'GHOST STORIES',
 'EMILY IN PARIS',
 'Black Panther']

In [25]:
movies[2] ='Shazam'
print(movies)

['Black Panther', 'Harry Potter', 'Shazam', 'HARRY MET SEJAL', 'THE WITCHER', 'GHOST STORIES', 'EMILY IN PARIS', 'Black Panther']

In [26]:
#insert function

fruits = ['apple', 'banana', 'cherry']
fruits.insert(1,'orange')
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [33]:
#extend function 
dry_fruits = ['almond','cashew','walnut']
fruits.extend(dry_fruits)
fruits

['apple',
 'orange',
 'banana',
 'cherry',
 'almond',
 'cashew',
 'walnut',
 'almond',
 'cashew',
 'walnut',
 'almond',
 'cashew',
 'walnut',
 'almond',
 'cashew',
 'walnut',
 'almond',
 'cashew',
 'walnut',
 'almond',
 'cashew',
 'walnut',
 'almond',
 'cashew',
 'walnut']

In [34]:
fruits = [ 'cherry', 'guava', 'apple', 'banana' ]
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'guava']

In [35]:
movies.sort()
print(movies)

['Black Panther', 'Black Panther', 'EMILY IN PARIS', 'GHOST STORIES', 'HARRY MET SEJAL', 'Harry Potter', 'Shazam', 'THE WITCHER']

In [36]:
movies.remove('Shazam')

In [38]:
if 'Harry Potter' in movies:
    movies.remove('Harry Potter')

In [39]:
movies.pop(3) # remove by index

'GHOST STORIES'

In [40]:
movies.pop() #last element is remover

'THE WITCHER'

In [41]:
movies

['Black Panther', 'Black Panther', 'EMILY IN PARIS', 'HARRY MET SEJAL']

In [42]:
movies.clear()

In [44]:
x = [12,3,3,3,5,4,5,2,3,4,6,8,0,6,4,5,43,64]

In [45]:
x.reverse()
print(x)

[64, 43, 5, 4, 6, 0, 8, 6, 4, 3, 2, 5, 4, 5, 3, 3, 3, 12]

In [46]:
x.count(5)

3

In [47]:
x = [1,2,3]
y = x #copy reference

In [48]:
x.append(10)
y.append(20)
print(x)
print(y)

[1, 2, 3, 10, 20]
[1, 2, 3, 10, 20]

In [49]:
z = x.copy()
z.append(100)
x.append(10)
print(x)
print(z)

[1, 2, 3, 10, 20, 10]
[1, 2, 3, 10, 20, 100]

In [50]:
x is y

True

In [51]:
z is y

False