In [1]:
# tuple with mixed datatypes

my_tuple = (1,'Hello', 3.4 )
print(my_tuple)

(1, 'Hello', 3.4)

In [2]:
# nested tuple

my_tuple = ('mouse',[8,4,6],[1,2,3])
print(my_tuple)

('mouse', [8, 4, 6], [1, 2, 3])

In [3]:
# a tuple can also be creeated without using paratheses
# this is known as tuple packing
my_tuple = 3,4.6,'apple'
print(my_tuple)

(3, 4.6, 'apple')

In [4]:
# accessing tuple elements using indexing
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])  #'p'
print(my_tuple[5])  #'t'

p
t

In [5]:
# nested tuple
n_tuple = ('mouse',[8,4,6],(1,2,3))
# nested index
print(n_tuple[0][3]) # 's'
print(n_tuple[1][1]) # 4

s
4

In [6]:
# accessing tuple elements using slicing
my_tuple = ('e','x','c','a','l','i','b','u','r')
# elements 2nd to 4th
# output : ('x','c','a')
print(my_tuple[1:4])
# elements beginning to 2nd
# output : ('e','x')
print(my_tuple[:-7])


print(my_tuple[7:])


print(my_tuple[:])

('x', 'c', 'a')
('e', 'x')
('u', 'r')
('e', 'x', 'c', 'a', 'l', 'i', 'b', 'u', 'r')

In [7]:
# concatenation
# output: (1,2,3,4,5,6)
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [8]:
# repeat
print(("Repeat",)*3)

('Repeat', 'Repeat', 'Repeat')

In [9]:
my_tuple = ('a','p','p','l','e')
print(my_tuple.count('p'))
print(my_tuple.index("l"))

2
3

## SET

In [10]:
# set of integers
my_set = {1,2,3}
print(my_set)

{1, 2, 3}

In [11]:
# set of mixed datatype
my_set = {1.0,'oye',(1,2,3)}
print(my_set)

{1.0, 'oye', (1, 2, 3)}

In [12]:
# set cannot have duplicates
my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [13]:
# we can make  set from a list
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [14]:
# set cannot have mutable items
# here [3,4] is mutable list
# this will cause error
my_set = {1,2,[3,4]}

TypeError: unhashable type: 'list'

In [15]:
# union of set
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print( A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
print( A & B )

{4, 5}

In [19]:
A.intersection(B)

{4, 5}

In [20]:
print(A-B)

{1, 2, 3}

In [21]:
A.difference(B)

{1, 2, 3}

In [22]:
B-A

{6, 7, 8}

In [23]:
print(A^B)

{1, 2, 3, 6, 7, 8}

In [24]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [27]:
x = {'mobile','tv','laptop'}
y = {'fridge','AC','fan','tv'}
print(x|y)

{'fan', 'tv', 'fridge', 'laptop', 'mobile', 'AC'}

In [31]:
print(x&y)
print(x-y)
print(y-x)
print(x^y)

{'tv'}
{'mobile', 'laptop'}
{'fan', 'AC', 'fridge'}
{'fridge', 'fan', 'laptop', 'mobile', 'AC'}