In [1]:
9044

9044

In [1]:
"pranshi"

'pranshi'

In [2]:
print("pranshi")

pranshi

In [3]:
print(1,2,3)

1 2 3

In [4]:
print("bramhmastra",2022)

bramhmastra 2022

In [6]:
print("this is a line")
print('another line')
print('and the final text line')

this is a line
another line
and the final text line

In [8]:
a=10
b=20
c=50
print(a,b,c)
print(a)

10 20 50
10

In [9]:
city='lucknow'
state='uttar pradesh'
name='pranshi'

In [10]:
name='adam'

In [11]:
name2='pranshi'

In [12]:
food=input()

In [13]:
print('food')

food

In [14]:
a='apple'
type(a)

str

In [15]:
a=101
type(a)

int

In [21]:
a='300+'
print(a,type(a))

300+ <class 'str'>

In [17]:
b=int(a)

In [18]:
print(b,type(b))

300 <class 'int'>

In [19]:
a=int(a)

In [23]:
a=input('enter A=')
b=input('enter B=')
print(type(a),type(b))

<class 'str'> <class 'str'>

In [24]:
a=int(a)
b=int(b)

In [25]:
print(a+b)

7

In [28]:
num1=int(input('enter num1'))
num2=int(input('enter num2'))
answer=num1+num2
print(answer)

10

# operaters

In [1]:
x=10
y=20

In [2]:
x+y

30

In [3]:
x-y

-10

In [4]:
x*y

200

In [5]:
x/y

0.5

In [6]:
x//y

0

In [7]:
x%y

10

In [8]:
x**y

100000000000000000000

In [9]:
x=10

In [10]:
x+=5

In [11]:
x-=10

In [12]:
x*=3

In [13]:
z+=6

NameError: name 'z' is not defined

In [14]:
x<9

False

In [15]:
y>8

True

In [16]:
'apple' == 'Apple'

False

In [18]:
x>5 and x>100

False

In [19]:
x>5 or x>1

True

In [20]:
not x>100

True

In [21]:
x is y

False

In [22]:
x is not y

True

In [23]:
a=[1,3,4,6,7,9]

In [24]:
2 in a

False

In [25]:
4 in a

True

## formatted
### string and msg

In [26]:
l=10.5
b=6.10
area = l*b

In [27]:
print(l,b,area)

10.5 6.1 64.05

In [28]:
print("{}*{}={}".format(l,b,area))

10.5*6.1=64.05

In [29]:
print(f'{l}*{b}={area}')

10.5*6.1=64.05

In [30]:
print(f'{l}*{b}={area:.1f}')

10.5*6.1=64.0