In [1]:
emp = ['Aman', 'deep', 'finance', 2300, 10000, 30000, 31, True, False, 'Acme']

In [2]:
emp_dict = {
    'fname': 'Amar',
    'lname': 'deep',
    'dept': 'finance',
    'age': 31,
    'salary':10000,
    'bonus':30000,
    'is_manager':True,
    'is_executive': False,
    'company':'Acme'}

In [3]:
print(emp_dict)

{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': 31, 'salary': 10000, 'bonus': 30000, 'is_manager': True, 'is_executive': False, 'company': 'Acme'}

In [4]:
emp_dict

{'fname': 'Amar',
 'lname': 'deep',
 'dept': 'finance',
 'age': 31,
 'salary': 10000,
 'bonus': 30000,
 'is_manager': True,
 'is_executive': False,
 'company': 'Acme'}

In [5]:
weather_data = {
    'date': '2019-01-01',
    'temp': 32 ,
    'details':{
        'humidity': 80,
        'wind': 10,
        'pressure': 30,
        'aqi': 120
    },
    'city': 'Lucknow',
    'type': 'sunshine',
    'icon': '☀️'
}

### accesssing data from dict

In [6]:
weather_data.keys()

dict_keys(['date', 'temp', 'details', 'city', 'type', 'icon'])

In [7]:
weather_data.values()

dict_values(['2019-01-01', 32, {'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120}, 'Lucknow', 'sunshine', '☀️'])

In [8]:
emp_dict.keys()

dict_keys(['fname', 'lname', 'dept', 'age', 'salary', 'bonus', 'is_manager', 'is_executive', 'company'])

In [9]:
list(weather_data.keys())

['date', 'temp', 'details', 'city', 'type', 'icon']

In [10]:
weather_data['temp']

32

In [11]:
weather_data['details']

{'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120}

In [12]:
weather_data.get('temp')

32

In [13]:
weather_data.get('location')

In [14]:
weather_data.get('city','not found')

'Lucknow'

In [15]:
weather_data.get('location','not found')

'not found'

### looping over a dictionary

In [16]:
for k in emp_dict:
    print(k)

fname
lname
dept
age
salary
bonus
is_manager
is_executive
company

In [17]:
for k in emp_dict:
    print(k,'=>', emp_dict[k])

fname => Amar
lname => deep
dept => finance
age => 31
salary => 10000
bonus => 30000
is_manager => True
is_executive => False
company => Acme

### looping over a dictionary using items()

In [18]:
for k,v in emp_dict.items():
    print(k,'=>', v)

fname => Amar
lname => deep
dept => finance
age => 31
salary => 10000
bonus => 30000
is_manager => True
is_executive => False
company => Acme

### updating an entry in dictionary

In [19]:
weather_data['temp'] = 35

In [20]:
weather_data

{'date': '2019-01-01',
 'temp': 35,
 'details': {'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120},
 'city': 'Lucknow',
 'type': 'sunshine',
 'icon': '☀️'}

### adding data

In [21]:
emp_dict['desingnation'] = 'Asst A'
print(emp_dict)

{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': 31, 'salary': 10000, 'bonus': 30000, 'is_manager': True, 'is_executive': False, 'company': 'Acme', 'desingnation': 'Asst A'}

### updating data

In [22]:
emp_dict['desingnation'] = 'Section Manager'
emp_dict['salary'] = 30000
print(emp_dict)

{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': 31, 'salary': 30000, 'bonus': 30000, 'is_manager': True, 'is_executive': False, 'company': 'Acme', 'desingnation': 'Section Manager'}

### removing data

In [23]:
if 'is_executive' in emp_dict:
    emp_dict.pop('is_executive')

In [24]:
emp_dict

{'fname': 'Amar',
 'lname': 'deep',
 'dept': 'finance',
 'age': 31,
 'salary': 30000,
 'bonus': 30000,
 'is_manager': True,
 'company': 'Acme',
 'desingnation': 'Section Manager'}

In [25]:
reports = {
    '001': {
        'name':'Amar',
        'subjects':{'English':80,'Maths':90,'Science':95}
    },
    '002': {
        'name':'Vijay',
        'subjects':{'English':70,'Maths':60,'SCience':85}
    },
    '003': {
        'name':'Raj',
        'subjects':{'English':60,'Maths':50,'SCience':45}
    }
}

In [26]:
reports

{'001': {'name': 'Amar',
  'subjects': {'English': 80, 'Maths': 90, 'Science': 95}},
 '002': {'name': 'Vijay',
  'subjects': {'English': 70, 'Maths': 60, 'SCience': 85}},
 '003': {'name': 'Raj',
  'subjects': {'English': 60, 'Maths': 50, 'SCience': 45}}}

In [27]:
for roll, data in reports.items():
    print(roll,data)

001 {'name': 'Amar', 'subjects': {'English': 80, 'Maths': 90, 'Science': 95}}
002 {'name': 'Vijay', 'subjects': {'English': 70, 'Maths': 60, 'SCience': 85}}
003 {'name': 'Raj', 'subjects': {'English': 60, 'Maths': 50, 'SCience': 45}}

In [28]:
for roll, data in reports.items():
    print(roll)
    for key, val in data.items():
        print(key)

001
name
subjects
002
name
subjects
003
name
subjects

In [29]:
for roll, data in reports.items():
    print(roll)
    for key, val in data.items():
        print(key)
        if isinstance(val,dict):                 # isinstance func is used to check the datatype 
            for sub, marks in val.items():
                print(sub, marks)
        else:
            print(val)
        print('--'*10)

001
name
Amar
--------------------
subjects
English 80
Maths 90
Science 95
--------------------
002
name
Vijay
--------------------
subjects
English 70
Maths 60
SCience 85
--------------------
003
name
Raj
--------------------
subjects
English 60
Maths 50
SCience 45
--------------------

In [30]:
for roll, data in reports.items():
    print('Roll No.',roll)
    for key, val in data.items():
        if isinstance(val,dict):
            print(key)
            for sub, marks in val.items():
                print(sub, marks)
        else:
            print(key, val)
    print('--'*10)

Roll No. 001
name Amar
subjects
English 80
Maths 90
Science 95
--------------------
Roll No. 002
name Vijay
subjects
English 70
Maths 60
SCience 85
--------------------
Roll No. 003
name Raj
subjects
English 60
Maths 50
SCience 45
--------------------

In [31]:
for roll, data in reports.items():
    print('Roll No.',roll)
    for key, val in data.items():
        if isinstance(val,dict):
            print(key)
            total = 0   #before loop set total marks to 0
            for sub, marks in val.items():
                print(sub, marks)
                total += marks #add marks to total
            print(f'Total: {total}/300')
            print(f'Prct: {total/300*100:.2f}%') # display
        else:
            print(key, val)
    print('--'*10)

Roll No. 001
name Amar
subjects
English 80
Maths 90
Science 95
Total: 265/300
Prct: 88.33%
--------------------
Roll No. 002
name Vijay
subjects
English 70
Maths 60
SCience 85
Total: 215/300
Prct: 71.67%
--------------------
Roll No. 003
name Raj
subjects
English 60
Maths 50
SCience 45
Total: 155/300
Prct: 51.67%
--------------------

### file handling
- open file
- reading file
- writing file
- appending file

In [32]:
f = open('hello.py')
print(f.read())

print("hi there")

In [33]:
f = open(r'C:\Users\rasto\OneDrive\Desktop\pranshi.txt')
print(f.read())

hy there

In [34]:
f = open(r'C:\Users\rasto\OneDrive\Desktop\pranshi.txt')
content = f.read()
print(f'{len(content)} characters')

9 characters

In [35]:
data = 'hi everyone, this is a simple file'
with open('mydata.txt','w') as file:
    file.write(data)

In [36]:
# not to be used
# file = open('mydata.txt','w')
# file.write(data)
# file.close()

In [37]:
data = '\nthis is the new data that is going to be written'
with open('mydata.txt','a') as file:
    file.write(data)

In [38]:
file = 'bio.text'
content = ''
while True:
    line = input('Enter a line (or q to quit): ')
    if line =='q':
        break
    content +=line +'\n'

with open(file,'w')as f:
    f.write(content)
    print(f'File {file} saved')

File bio.text saved